.DragDropFile {
    border: 2px dashed rgb(180, 176, 176);
    border-radius: 3px;
    padding: 30px;
    color: #989393;
    cursor: pointer;
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

.DragDropFile:active:focus {
  background-color: whitesmoke;
}

.DragDropFile.fileCurrentlyHovered {
    background-color: rgba(96, 165, 250, 0.2);
}

.DragDropFile.fileCurrentlyHovered * {
    pointer-events: none;
}

.text {
  font-size: 200%;
  user-select: none;
}

.icon-wrapper {
  margin-bottom: 15px;
}

.DragDropFile hr {
  width: 100%;
}